# Configuración del servidor
PORT=YOUR_PORT

# Configuración de la BD
DB_HOST=YOUR_HOST
DB_USER=YOUR_USER
DB_PASS=YOUR_PASS
DB_NAME=YOUR_DB_NAME
DB_PORT=YOUR_DB_PORT

# Seguridad (Para JWT)
JWT_SECRET=YOUR_TOKEN